parameters:
    level: max
    paths:
        - app
    excludePaths:
        - app/vendor
        - app/Console
        - app/Events
        - app/Exceptions
        - app/Jobs
        - app/Listeners
        - app/Providers
